.App {
  text-align: center;
}

.num {
  font-size: 250px;
  display: inline-block;
  margin: 1rem auto;
}

.in, .de {
  padding: 0.5rem 1.2rem;
  margin: 0 1rem;
}

.in{
  background-color: green;
  color: white;
  font-size: 15px;
}

.de{
  background-color: red;
  color: white;
  font-size: 15px;
}